
html {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  background: #e8e8e8;
  color: #343534;
  font-size: 18px;
  font-family: sans-serif;
  overflow: hidden;
}
