
html, body, #hex-grid-area {
  width: 100%; height: 100%;
  margin: 0; padding: 0; border: 0;
  overflow: hidden;
}

body {
  background-color: black;
  font-size: 18px;
  font-family: sans-serif;
}

#hex-grid-area {
  overflow-x: hidden;
  overflow-y: auto;
}

/* TODO: somehow there is a 1px margin at the bottom of the SVG; it must die... */
