
html, body, #hex-grid-area {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  background-color: black;/* TODO: remove this after the bottom margin bug is fixed */
  font-size: 18px;
  font-family: sans-serif;
}

#hex-grid-area {
  position: relative;
  overflow: auto;
  z-index: 0;
}

/* Make the dat.GUI controller visible */
div.dg.ac {
  z-index: 1;
}

/* TODO: somehow there is a 1px margin at the bottom of the SVG; it must die... */
